h1 {
  text-align: center;

}


.navbar {

  background-color: yellow;
  max-width: 30%;
  text-align: center;
  



}

body {

max-width: 0 auto;


}

img {

  /*border-radius: 10px;*/
  max-width: : 200px;
  max-height: 200px;
  

}
